/*  
    use command 
    sass --watch main.scss:main.css 
    to compile automatically
 */
body {
  background-color: gainsboro;
  padding: 0px;
  margin: 0px;
}

.container {
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-style: none;
}

.container-cv {
  margin: auto;
  padding: 0px;
  box-shadow: 5px 5px 14px black;
}

.container-quiz {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 10px;
}

.header {
  margin: 0;
  background-color: #fac846;
}

.head-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.head-section2 {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.head-content1 {
  display: flex;
  flex-direction: row;
}

.head-content2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.head-footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content {
  margin-left: 25px;
  margin-top: 50px;
}

.content-section {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}

.content-skills {
  display: grid;
  grid-template-columns: auto auto auto;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border-style: none;
  font-size: 18px;
}

.btn-answer {
  background-color: purple;
  color: white;
}

.text {
  font-family: "Lato", sans-serif;
  color: #373839;
}

.text-title {
  margin: auto;
  color: #373839;
  font-size: 52px;
  text-align: center;
}

.text-subtitle {
  padding: 8px;
  color: #fac846;
  background-color: #373839;
  text-align: center;
}

.text-head-section {
  font-size: 24px;
  color: #373839;
  text-align: center;
}

.text-head {
  margin-top: auto;
  margin-bottom: auto;
}

.text-footer {
  font-size: 10px;
  margin: 10px;
}

.text-skill {
  margin: auto;
}

.text-content-section {
  padding: 10px;
  color: white;
  background-color: #373839;
  width: 100%;
}

.text-content {
  margin-right: 10px;
}

.text-percentage {
  text-align: center;
}

.img-avatar {
  margin: auto;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
  border-width: 12px;
  border-color: white;
}

.border {
  margin: auto;
  padding: 12px;
  width: 238px;
  height: 238px;
  border-radius: 50%;
  border-width: 12px;
  border-color: #fac846;
}

.skill {
  display: flex;
}

.circle {
  margin: 10px;
  padding: auto;
  height: 40px;
  width: 40px;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
  border-color: #fac846;
}

@media (min-width: 650px) {
  .container-cv {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0px;
    max-width: 800px;
    display: grid;
    grid-template-columns: 280px auto;
  }

  .header {
    grid-column: 1;
    grid-row: 1;
  }

  .content {
    grid-column: 2;
    grid-row: 1;
  }
}
.grey-left {
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #373839;
  background-repeat: no-repeat;
  background-position: 50px;
  background-size: 30px;
  width: 70px;
  height: 30px;
}

.grey-box {
  margin-right: 10px;
  margin-top: 20px;
  padding: 10px;
  background-color: #373839;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  width: 40px;
  height: 40px;
}

.icon {
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  width: 75px;
  height: 75px;
}

.line-n-dot {
  background-color: #fac846;
  margin-right: 20px;
  margin-left: 25px;
  width: 10px;
  height: 180px;
  background-size: auto;
}

.letter {
  background-image: url(./assets/mail-letter-svgrepo-com.svg);
}

.phone {
  background-image: url(./assets/telephone-svgrepo-com.svg);
}

.house {
  background-image: url(./assets/house-svgrepo-com.svg);
}

.world {
  background-image: url(./assets/world-grid-svgrepo-com.svg);
}

.plane {
  background-image: url(./assets/airplane-svgrepo-com.svg);
}

.book {
  background-image: url(./assets/book-svgrepo-com.svg);
}

.music {
  background-image: url(./assets/music-quaver-draw-svgrepo-com.svg);
}

.pen {
  background-image: url(./assets/mechanical-pen-svgrepo-com.svg);
}

.client {
  background-image: url(./assets/client-profile-svgrepo-com.svg);
}

.experience {
  background-image: url(./assets/computer-monitor-plain-svgrepo-com.svg);
}

.education {
  background-image: url(./assets/college-graduation-svgrepo-com.svg);
}

.skills {
  background-image: url(./assets/mechanical-gears-svgrepo-com.svg);
}

.skill1 {
  grid-column: 1;
}

.skill2 {
  grid-column: 2;
}

.skill3 {
  grid-column: 3;
}

/*# sourceMappingURL=main.css.map */
